@model IEnumerable<FronEnd.Models.MetodoPagoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMetodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMetodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMetodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMetodo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdMetodo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdMetodo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdMetodo })
            </td>
        </tr>
}
    </tbody>
</table>
