@model FronEnd.Models.PagoViewModel
@inject FronEnd.Helpers.Interfaces.IPedidoHelper _pedidoHelper
@inject FronEnd.Helpers.Interfaces.IMetodoPagoHelper _metodoPagoHelper

@{
    ViewData["Title"] = "Detalles del Pago";
    var pedido = _pedidoHelper.GetPedido(Model.IdPedido);
    var metodo = _metodoPagoHelper.GetMetodoPago(Model.IdMetodo);
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID Pago:</dt>
        <dd class="col-sm-10">@Model.IdPago</dd>

        <dt class="col-sm-2">Pedido:</dt>
        <dd class="col-sm-10">#@Model.IdPedido - @pedido?.FechaPedido.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Método de Pago:</dt>
        <dd class="col-sm-10">@metodo?.TipoMetodo (#@Model.IdMetodo)</dd>

        <dt class="col-sm-2">Monto:</dt>
        <dd class="col-sm-10">@Model.Monto.ToString("C")</dd>

        <dt class="col-sm-2">Fecha:</dt>
        <dd class="col-sm-10">@Model.FechaPago.ToString("dd/MM/yyyy HH:mm")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPago" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>